<div class="container-md my-4">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12">
                        {{> carousel_card n=1}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-6 d-none d-md-block">
                        {{> carousel_card n=2}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-6 d-none d-lg-block">
                        {{> carousel_card n=3}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-6 d-none d-xl-block">
                        {{> carousel_card n=4}}
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
             <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12">
                        {{> carousel_card n=5}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-md-block">
                        {{> carousel_card n=6}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-lg-block">
                        {{> carousel_card n=7}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-xl-block">
                        {{> carousel_card n=8}}
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <div class="container-fluid">
                <div class="row justify-content-around">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12">
                        {{> carousel_card n=9}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-md-block">
                        {{> carousel_card n=10}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-lg-block">
                        {{> carousel_card n=11}}
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8 col-xs-12 d-none d-xl-block">
                        {{> carousel_card n=12}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev "  id='prev__carrousel__home' type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="prev">
        <span class="carousel-control-prev-icon"  aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" id='next__carrousel__home' type="button" data-bs-target="#carouselExampleInterval"  data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>