<div class="card m-2" style="width: 18rem; height:350px;">
  <img src="{{randomRestaurant restaurants "image" n}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{randomRestaurant restaurants "name" n}}</h5>
    <p class="card-text">{{randomRestaurant restaurants "cuisine" n}}</p>
    <a href="/restaurant/{{randomRestaurant restaurants "id" n}}" class="btn btn-primary">Detail</a>
  </div>
</div>

