<div class="col">
	<div class="card" id="restaurant-{{_id}}">
		<img src="{{restaurant.image.[0]}}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{restaurant.name}}</h5>
			<div class="card-buttons">
				<a href="/restaurant/{{_id}}" class="btn btn-primary">See more</a>
			</div>
		</div>
	</div>
</div>