<footer class="footer">
  <div class="container">
    <hr class="footer-line">
    <div class="row ">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-6 col-12 mb-4 text-center d-none d-sm-block">
        <div class="">

          <ul class="footer__ul" >
            <li data-test="homepage-iOS-button"><a href="https://www.apple.com/app-store/"><img class="mb-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/200px-Download_on_the_App_Store_Badge.svg.png" alt="Download from the App Store"></a></li>
            <li data-test="homepage-Android-button"><a href="https://play.google.com/store/apps"><img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/200px-Google_Play_Store_badge_EN.svg.png" alt="Get it on Google Play"></a></li></ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 align-self-center">
        <div class="">
          <ul class="footer__ul">
            <li><a href="/" class="none__style__a a__custom">Home</a></li>
            <li><a href="/profile" class="none__style__a a__custom">Profile</a></li>
            <li><a href="/search" class="none__style__a a__custom">Restaurants</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 d-none d-sm-block align-self-center">
        <div class="">
          <ul class="footer__ul">
            <li><a href="#" class="none__style__a a__custom">Twitter</a></li>
            <li><a href="#" class="none__style__a a__custom">Linked In</a></li>
            <li><a href="#" class="none__style__a a__custom">Facebook</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 align-self-center text-center">
        <img src="https://res.cloudinary.com/eatookapp/image/upload/v1614963814/ICONS/Strawberry-595b40b75ba036ed117d9197_zpn0qm.svg" width="45" alt="" class="d-inline-block align-middle ml-2">
        <h2>EATOOK</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center ">
        <div>
          <p style=" font-size: 0.8rem">Promotional offers are subject to conditions displayed on the restaurant’s page. Offers on alcoholic beverages are strictly reserved for adults. Alcohol abuse is dangerous for your health. Drink with moderation.</p>
        </div>
      </div>
    </div>
  </div>
</footer>




