<nav class="navbar navbar-expand-md mb-2 navbar-light " style="background-color:#ace600;">
  <div class="container-fluid ">
      <a href="/" class="navbar-brand">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
      </a>
      <form class="d-flex ">
          <input class="form-control  me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-auto">
          <li class="nav-item">
            <a class="nav-link active mx-4 px-4" aria-current="page" href="/login">Log in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active mx-4 px-4 " aria-current="page" href="/help">Help</a>
          </li>
        </ul>
      </div>
    
  </div>
</nav> 











