<nav class="navbar navbar-expand-md mb-2 navbar-light justify-content-between " style="background-color:#c2c55e;">
      <a href="/" class="navbar-brand">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle ml-2">
      </a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-auto">
          {{#unless user}}
          <li class="nav-item">
            <a class="nav-link active mx-4 px-4" aria-current="page" href="/login">Log in</a>
          </li>
          <li class="nav-item">
          <a class="nav-link active mx-4 px-4" aria-current="page" href="/signup">Sign up</a>
          </li>
          {{/unless}}
          
          {{#if user}}
            {{#myrole user.role}}
            {{/myrole}}
            <li class="nav-item">
            <a class="nav-link active mx-4 px-4" aria-current="page" href="/profile">My profile</a>
            </li>
            <li class="nav-item">
              <form action="/logout" method="POST">
                  <button class='btn'>Logout</button>
              </form>
            </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link active mx-4 px-4 " aria-current="page" href="/help">Help</a>
          </li>
        </ul>
      </div>
</nav> 


