<div class="container__form d-flex justify-content-center">
    <div class="row justify-content-center">
        <div class="login mb-3">login</div>
        
        <form action="/login" method="POST" class="login-form">
            <input type="email" name="email" placeholder="Email Address" class="input" id="email" required><br />
            <input type="password" name="password" placeholder="Password"  class="input" id="password" required>

            {{#if error}}
                <p class="error-message">{{error}}</p>
            {{/if}}
            

            <button type="submit" class="btn btn-secondary">LOG IN</button>
            <div class="text-center w-100">
                <p class="text-muted font-weight-bold mt-2">Don't have an account  <a href="/signup" class="text-primary ml-2">Register here</a></p>
            </div>
        </form>
    
    </div>
</div>

