<div class="container__form d-flex justify-content-center">
    <div class="row justify-content-center">
    <p>Thank you very much. We have sent an activation link to your email. Please activate your account.</p>
    </div>
</div>

