<div class="container about__wrapper booking__unit my-4">
    <div class="row my-4">
        <h3 class='about__titles'>About Eatook</h3>
        <p>Eatook offers more than 30,000 restaurants available at any time, at the best price, in France, Spain, Switzerland, Belgium, Italy, Sweden, and more! With over 5 million reliable 
            reviews to guide you, you will definitely find the perfect restaurant.</p>
        <p>Do you feel like eating paella in Barcelona, Japanese in Madrid, or do you want to discover a gastronomic restaurant in Lyon? Are you fond of quirky little eateries in Paris, eager 
            for a Sunday brunch in Geneva, or in search of a romantic mood in Paris? Follow the guide and find the best restaurants on Eatook!</p>
        <p>And when you book with Eatook, you can also benefit from a discount of up to 50% off the check in participating restaurants.</p>
    </div>
    <div class="row align-items-center about__sec">
        <h4 class='about__titles' >Are you a restaurant owner?</h4>
        <div class="row my-2 about__restaurant__owner">
            
                <div class="col-lg-6 col-sm-12 mt-3 mr-1">
                    <img src="https://res.cloudinary.com/eatookapp/image/upload/v1615299624/Backgrounds/Top-Tips-for-New-Restaurant-Owners_n95vfd.jpg" class="img-fluid">
                </div>
                <div class="col-lg-6 col-sm-12 mt-3 mr-1">
                    <div class="row mb-4">
                        <h5>Register your Restaurant</h5>
                        <p>Tell us more about you and we will contact you as soon as possible</p>
                        <a href="/signup" class="none__style__a dark__green">SEE MORE INFORMATION</a>
                    </div>
                    <div class="row my-4">
                        <h5>Register your Restaurant</h5>
                        <p>Log in to Eatook Manager and contact us by Chat.</p>
                        <a href="/login" class="none__style__a dark__green">LOG IN TO EATOOK</a>
                    </div>
                </div>
            
        </div>

    </div>
    <div class="row about__bottom__sec my-4">
        <div class="col-12 col-md-3 text-center">
            <img src="https://res.cloudinary.com/eatookapp/image/upload/v1615301735/ICONS/icon-visibility_bmwhc9.png" alt="Visibility" loading="lazy">
            <h4 class="my-2">Gain greater online visibility</h4>
            <p>Eatook is the first restaurant discovery and booking platform, available in 22 countries! You can get now a customized page for free visible on all devices.</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <img src="https://res.cloudinary.com/eatookapp/image/upload/v1615301735/ICONS/icon-table_zzlrvq.png" alt="Table occupation" loading="lazy">
            <h4 class="my-2">Increase your table occupation rate</h4>
            <p>A win-win management model for your restaurant. Propose special offers or participate in the YUMS loyalty program and festivals to increase your off-peak bookings.</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <img src="https://res.cloudinary.com/eatookapp/image/upload/v1615301735/ICONS/icon-ghost_ou3pgy.png" alt="No-shows" loading="lazy">
            <h4 class="my-2">Fight against no-show</h4>
            <p>Decrease your no-shows using Eatook tools such as automatic confirmation emails and SMS, guest reliability score and credit card imprint.</p>
        </div>
        <div class="col-12 col-md-3 text-center">
            <img src="https://res.cloudinary.com/eatookapp/image/upload/v1615301735/ICONS/icon-expert_oo05db.png" alt="Industry expert" loading="lazy">
            <h4 class="my-2">Rely on Industry experts</h4>
            <p>Eatook teams work alongside 80K restaurants for more than 12 years to grow their business providing free training, expert advice, and 7/7 customer support.</p>
        </div>
        
    </div>
</div>
