<div class='top__title'>
    <h4 class='home__main__text'>FIND AND BOOK THE BEST RESTAURANTS</h4> 
</div>
<div class="container-fluid home__underpicture">
    <div class="row">
        <form class="d-flex flex-column align-items-center justify-content-center search__form pb-5 mb-5" action="/search-by-filter", method="GET">
            <div class="row h__search__input">
                <input class="form-control me-2" name="search" type="search" placeholder="Restaurant name, type of cuisine" aria-label="Search">   
            </div>
            <div class="row my-3 h__search__input"> 
                <input class="form-control me-2" name="searchCity" type="search" placeholder="City, zipcode or country" aria-label="Search">
            </div>
            <div class="row h__search__wrapper">
                <div class="col h__search__btn">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
                <div class="col h__searchall__btn">
                    <a class="btn btn-success" href="/search" role="button">View all</a>
                </div>
            </div>
        </form>
    </div>
</div>  

<div class="container my-4">
    <hr>
    <div class="row text-center">
        <h3>Recommendations</h3>
        {{> carousel}}
    </div>
</div>

   






