
<div class="container-fluid">

    <div>
        <div class='top__title'>
        <h2 class='home__main__text'>FIND AND BOOK THE BEST RESTAURANTS</h2> 
        </div>
        <div class="home__underpicture">
        </div>  
    </div>
    <div class="row d-flex justify-content-center" >
        <div class="col-9 my-3">
            <form class="d-flex" action="/search-by-filter", method="GET">
                <input class="form-control me-2" name="search" type="search" placeholder="Restaurant name, type of cuisine" aria-label="Search">
                <input class="form-control me-2" name="searchCity" type="search" placeholder="City, zipcode or country" aria-label="Search">
                <div class="col-2">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            <a class="btn btn-sm btn-success my-3 mx-3" href="/search" role="button">View all restaurants</a>
        </div>
    </div>
</div>