
<div class="container">
    <div class=" d-flex justify-content-center my-3">
        <h1>EATOOK HOME PAGE</h1>
    </div>
    <div class="d-flex justify-content-center my-3">
        <div>
            <img src="https://res.cloudinary.com/eatookapp/image/upload/v1614196511/DEFAULT_HOME_IMAGE_b6iwnp.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Restaurant name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="City" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        {{> restaurant_card}}
    </div>
</div>