@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --nav--green-color: #9ACD32;
    --light--green-color:#D0F0C0;
    --btn--green-color:#808000;
    --dark--green-color: #3c9213;
    

  }
/*
#222917
#617c11
#c2c55e
#fedd9a
#b08c50
#f6f7d0
*/

/* GENERAL STYLES */
*{
    margin: 0;
    padding: 0;
}
  
body{
    background: white;
    font-family: "Raleway", sans-serif;
}
/* ALL VIEWS */
.top__title{
background-color: var(--light--green-color);
padding-top: 10px;
padding-bottom: 5px;
color: var(--dark--green-color);
border-radius: 5px;
width: 100%;
text-align: center;
}

/* NAVBAR */

.main__nav{
    padding: 7px 0 3px;
    background-color: var(--nav--green-color);
    
}

.navbar__left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}
.invert{
    -webkit-filter: invert(100%);
}

.navbar__left h2{
    font-size: 1.5em;
    padding-left: 10px;
    font-weight: 700;
    padding-top: 10px;
}

.navbar__left img{
    padding-bottom: 10px;
}

.nav__picture{
    width: 12%;
    height:12%;
    border: 3px solid white;
}


.nav-link{
    color:white !important;
    font-weight: bold;
    font-size: 1.3em;
}

.nav-link:hover{
    color:var(--dark--green-color) !important;
}

.nav-item{
    display: flex;
    align-items: center;
}
/* FORMS */
.container__form{
    width: 450px;
    margin: 30px auto;
}

.signup,.login{
    width: 50%;
    background: #fff;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: #c2c55e 2px solid;
    border-radius: 25px;
}

.signup-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 530px;
    border: #c2c55e 2px solid;
    border-radius: 25px;
}

.login-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 270px;
    border: #c2c55e 2px solid;
    border-radius: 25px;
    
}

.add-restaurant-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    border: #c2c55e 2px solid;
    border-radius: 25px;

}

.input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}


.input:focus{
    border: 2px solid #c2c55e;     
}

/* BUTTONS */

.btn{
    width: 100%;
    background: var(--nav--green-color);
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-secondary:hover {
    color: #fff;
    background-color:var(--nav--green-color) !important;
    border-color: #3e3e40!important;
}

.btn__form{
  padding: 6px !important;  
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}
.forgot-pass{
    color: #888;
    font-size: small;
}

.manage__restaurants__btns{
    text-align: center;
    display: flex;
 }
/* FIX TEXT */
.capitalized{
    text-transform: capitalize 
}



/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {

.hide{
        display: none;
    }

.container__form{
    width: 320px;
    margin: 2px auto;
}

}

/* HOME VIEW */
.home__underpicture{
    width: 100%;
    height: 500px;
    margin-top: 65px;
    background-image: url("https://res.cloudinary.com/eatookapp/image/upload/v1614971426/Backgrounds/food-366875_1920_uo38gp.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(122, 114, 114, 0.1);
    text-align: center;
    border-radius: 5px;
}

.home__main__text{
    text-align: center;
    
}

.h__search__input{
    height: 60px;
    width: 50%
}

.h__search__btn{
    width: 20%
}

.h__searchall__btn a{
    padding-top: 20px;
    
}
.search__form{
    height: 500px;
}

/* SEARCH VIEW */

.searchview__container{
  border: 1px solid var(--light--green-color);  
}

/* RESTAURANT CARD SEARCH VIEW */

.restaurant__card__img{
    border-radius: 5px;
}

.s__details__btn{
    width: auto;
    height: auto;
    border: 1px solid grey;
    
}

.btns__restaurant__card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card__info__wrapper{
    background-color: rgba(208,240,192,0.5);
    padding:15px 0 10px 40px;
    border-radius: 5px;
    text-align: left;
    margin:15px !important
    
}

.card__info__text{
    width: fit-content;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10%;
    margin-top: 3px;
}

/* ---- likes ---- */
.likes {
    text-decoration: none;
    color: black;
    background-color: transparent;
    border: none;
    margin-left: 20px
}

.unliked {
    filter: grayscale();
}

/* RESTAURANTS DETAIL VIEW */

.booking_time__form{
    margin: 20px auto 5%;
    
}

.restaurant__detail__info{
    margin-top: 3%;

}

.restaurant__contact__ul{
   list-style-type: none; 
}

.restaurant__contact__detail{
    background-color: rgba(208,240,192,0.2);
    border-radius: 20px;
}