@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
#222917
#617c11
#c2c55e
#fedd9a
#b08c50
#f6f7d0
*/

*{
    margin: 0;
    padding: 0;
}
  
body{
    background: white;
    font-family: "Raleway", sans-serif;
    user-select: none;
}

.container__form{
    width: 450px;
    margin: 30px auto;
}

.signup,.login{
    width: 50%;
    background: #fff;
    float: left;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border: #c2c55e 2px solid;
    border-radius: 25px;
}

.signup-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 530px;
    border: #c2c55e 2px solid;
    border-radius: 25px;
}

.login-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    height: 270px;
    border: #c2c55e 2px solid;
    border-radius: 25px;
    
}

.add-restaurant-form{
    background: #fff;
    padding: 40px;
    clear: both;
    width: 100%;
    box-sizing: border-box;
    border: #c2c55e 2px solid;
    border-radius: 25px;

}

.input{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    color: #3e3e40;
    font-size: 14px;
    outline: none;
    transform: all 0.5s ease;
}


.input:focus{
    border: 2px solid #c2c55e;     
}

.btn{
    width: 100%;
    background: #617c11;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-secondary:hover {
    color: #fff;
    background-color:#c2c55e !important;
    border-color: #3e3e40!important;
}

.btn__form{
  padding: 6px !important;  
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}
.forgot-pass{
    color: #888;
    font-size: small;
}

.capitalized{
    text-transform: capitalize 
}
@media only screen and (max-width: 600px) {

.hide{
        display: none;
    }

.container__form{
    width: 320px;
    margin: 2px auto;
}

}


.home__underpicture{
    width: 2080px;
    height: 100%;
    background-color: rgba(122, 114, 114, 0.1);
    text-align: center;
}



.manage__restaurants__btns{
   text-align: center;
   display: flex;
}
