<div class="container">
    <div class="row">

  		<div class="col-sm-3">
        <div class="text-center">
          <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail mb-2" alt="avatar">

          <input type="file" class="form-control mt-2" id="customFile" />
        </div>
      </div>

    	<div class="col-sm-9">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <hr>
              <form class="form" action="##" method="post" id="registrationForm">
                  <div class="form-group">
                      
                      <div class="col-xs-6">
                          <label for="first_name"><h4>First name</h4></label>
                          <input type="text" class="form-control mb-3" name="first_name" id="first_name" placeholder="{{user.firstname}}">
                      </div>
                  </div>
                  <div class="form-group">
                      
                      <div class="col-xs-6">
                        <label for="last_name"><h4>Last name</h4></label>
                          <input type="text" class="form-control mb-3" name="last_name" id="last_name" placeholder="{{user.lastname}}">
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-xs-6">
                          <label for="phonenumber"><h4>Phone number</h4></label>
                          <input type="text" class="form-control mb-3" name="phonenumber" id="phonenumber" placeholder="{{user.phonenumber}}">
                      </div>
                  </div>
      
                  </div>
                  <div class="form-group">
                      
                      <div class="col-xs-6">
                          <label for="email"><h4>Email</h4></label>
                          <input type="email" class="form-control mb-3" name="email" id="email" placeholder="{{user.email}}" title="enter your email.">
                      </div>
                  </div>

                  <div class="form-group">
                      
                      <div class="col-xs-6">
                          <label for="password"><h4>Password</h4></label>
                          <div class="white-card-movil">

                            <form method="POST" action="/profile/personal-info">
                              <div class="row"><div class="col-xs-12 col-md-4 m-b-1"><label>Old Password </label>
                                <input type="password" name="oldPassword" class="form-control form-control-lg form-control {{#if errors.incorrectPass}}is-invalid{{/if}}" required>
                                {{#if errors.incorrectPass}}
                                <div class="invalid-feedback">Incorrect Password</div>
                                {{/if}}
                              </div>
                              <div class="col-xs-12 col-md-4 m-b-1"><label>New Password</label>
                                <input type="password" name="newPassword" class="form-control form-control-lg form-control {{#if errors.pass}}is-invalid{{/if}}" required>
                                {{#if errors.pass}}
                                <div class="invalid-feedback">Passwords do not match</div>
                                {{/if}}
                              </div>
                              <div class="col-xs-12 col-md-4 m-b-1"><label>Repeat Password</label>
                                <input type="password" name="newPassword2" class="form-control form-control-lg {{#if errors.pass}}is-invalid{{/if}}" required>
                              </div>
                              
                              <div class="row mt-2">
                                <div class="col-xs-12 col-md-6"><strong>Security</strong><ul><li><small>The password must contain at least 1 number, 1 uppercase, 1 lowercase and 8 characters.</small></li><li><small>This change may take a minute to become valid.</small></li></ul>
                                  </div>
                                <div class="col-xs-12 col-md-6">
                                  <button type="submit" class="btn btn-primary-outline btn-lg pull-xs-right mt-3">SAVE CHANGES</button>
                                </div>
                              </div>
                            </form>

                          </div>
                      </div>
                  </div>
                </form>
            <hr>
          </div>
      </div>
  </div>
</div>

