<div class='container justify-content-center'>
    <div class="row  my-4">
        <div class="col d-flex justify-content-center ">
            <h1 class='top__title'>MY REVIEWS</h1>
        </div>
    </div>
</div>
<div class="container booking__unit">
    {{#each reviews}}
        <div class="row m-4">
            <div class="row">
                <div class="col">
                    <a href="/restaurant/{{restaurant.id}}" class ="none__style__a a__custom capitalized"><h5>{{restaurant.name}}</h5></a>
                </div>
                <div class="col d-flex flex-row-reverse">
                    <h4 class='rating__wrapper'>⭐ <span id="restaurantRateAvg">{{rating}}/5</span></h4>
                </div>
            </div>
            <div class="row">
                <p>{{comment}}</p>
            </div>
        </div>
        <hr>
    {{/each}}
</div>

