<div class='container justify-content-center'>
    <div class="row my-4">
        <div class="col d-flex justify-content-center ">
            <h1 class='top__title'>MY FAVOURITES</h1>
        </div>
    </div>
</div>
<div class="container ">
    <div class="favourites__wrapper  row row-cols-3 row-cols-md-4 g-4">
        {{#each favourites}}
            {{> favourites_card}}

        {{else}}
            <div class="container" style="text-align: center;">
                <h6>No favourites yet</h6>
            </div>

            <div style="height: 450px;">
            </div>
        {{/each}}
    </div>
</div>

