<div class='container justify-content-center'>
    <div class="row border my-4">
        <div class="col d-flex justify-content-center ">
            <h1>MY FAVOURITES</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-cols-3 row-cols-md-4 g-4">
        {{#each favourites}}
            {{> favourites_card}}
        {{/each}}
    </div>
</div>

