<div class="container">
    <div class="row">
        <h1 class='capitalized'>Restaurant {{restaurant.name}}</h1>
        <h6 class="card-text" ><b>Owner:</b> {{restaurant.owner.firstname}}</h6>
    </div>
</div>