<h3 class="top__title">RESTAURANTS LIST</h3>
<div class="container searchview__container">
    <div class="row justify-content-center">
        <div class="col">
            {{> restaurant_card}}   
        </div>
    </div>
</div>
